/* Este arquivo poderia definir estilos do e-mail e ser interpretado pelo módulo de leitura de arquivo.
Mas por enquanto está sendo usada uma variavél para amazenar uma string com código css.
Ela é exportada e anexada na config html do corpo do e-mail.
*/
.corpo{
    background-color: #94692c96;
    padding: 15px;
    height: 250px;
    border-radius: 4px;
}
.info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    color: #f2f3f3;
   
}
.btnConfirmar{
    display: inline-block;
    margin: 5px;
    background-color: #121212;
    color: white!important;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: bold;
}
:link:hover{
    color: #23a1e2;
}